<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style//vacation.css" type="text/css">
  </head>
  <body>
    <div class="main-box">
      <div class="main-menu">
        <div class="menu-btn">
          <a id="/">main</a>
        </div>
        <div class="menu-btn">form</div>
        <div class="menu-btn">list</div>
      </div>
      <div class="main-contents">

      </div>
    </div>
    <%- include('form') %>
    <%- include('list') %>
  </body>
  <script type='text/javascript' src="/script.js"></script>
</html>