<html>
  <head>
    <title>크로키 휴가 신청 시스템</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="/userInfo/login/act" method="POST">
      <div><span>사번: </span><input type="text" name="business_num" value="2010249221"></div>
      <div><span>비밀번호: </span><input type="password" name="password" value="cactus1234"></div>
      <button type="submit">로그인</button>
    </form>
  </body>
</html>